body {
  margin: 0;
  padding: 0;
  background: honeydew;
  font-family: "Roboto", sans-serif;
  width: auto;
}
h1 {
  font-size: 120px;
}
h2 {
  font-size: 80px;
}
p {
  font-size: 30px;
}
h4 {
  font-size: 40px;
  font-weight: 600;
  margin-top: -50px;
}
h5 {
  font-size: 35px;
}
span {
  color: #bc1823;
}
.button {
  text-decoration: none;
  color: azure;
  background-color: #bc1823;
  padding: 20px 40px;
  border-radius: 40px;
  font-size: 30px;
}

/* Title Section */

.titlebox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
}
.titlebox-text {
  align-items: center;
  text-align: center;
  flex-grow: 2;
  flex-shrink: 2;
}

/* About Section */

.about-sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.about-item {
  max-width: 60%;
  min-width: 20%;
  text-align: center;
}
.about-item p {
  text-align: justify;
}

/* Special Offer */

.Heading {
  text-align: center;
}
.food {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: url(img/item-backgroumd.png) no-repeat bottom center;
  justify-content: center;
}
.food-item {
  background-color: white;
  text-align: center;
  padding: 25px;
  margin: 40px;
  border-radius: 50px;
  box-shadow: 5px 5px 20px black;
}

/* Item List */

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.items {
  box-shadow: 5px 5px 20px black;
  margin: 30px;
  padding: 20px;
  border-radius: 40px;
  background-color: #bc1823;
}

.item-name ul li {
  font-size: 30px;
  color: white;
  padding: 10px;
}
.item-name h5 {
  text-align: center;
  color: white;
}
.item-name {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Contact */

.contact {
  display: flex;
  flex-wrap: wrap;
}
.contact-img {
  padding: 100px 180px;
  background: url(img/contact-back.png) no-repeat;
  height: 800px;
}
.contact-img img {
  width: 600px;
}
.contact-text {
  padding-left: 200px;
}
.contact-text p {
  margin-top: -35px;
}

/* Social Media */

.social-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  align-content: center;
  margin: 100px;
  border-radius: 80px;
  box-shadow: 5px 5px 15px black;
}
.pages h5 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: -25px;
  margin-top: 30px;
}

/* Footer */

footer {
  color: lemonchiffon;
  text-align: center;
  background-color: darkslategray;
  margin: 0px;
  padding: 20px;
}
