body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color:azure;
    width: auto;
}
h1{
    font-size: 120px;
}
h2{
    font-size: 80px;
}
p{
    font-size: 30px;
}
h4{
    font-size: 40px;
    font-weight: 600;
    margin-top: -50px;
}
h5{
    font-size: 35px;
}
span{
    color: #bc1823;
}
.button{
    text-decoration: none;
    color: azure;
    background-color: #bc1823;
    padding: 20px 40px;
    border-radius: 40px;
    font-size: 30px;
}
.titlebox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;

}
.titlebox-text{
    align-items: center;
    text-align: center;
}
.about-sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.about-item{
    max-width: 60%;
    min-width: 20%;
    text-align: center;
}
.about-item p{
    text-align: justify;
}
.offer{
    text-align: center;
}
.food{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: url(img/item-backgroumd.png) no-repeat bottom center;
}
.food-item{
    background-color: white;
    text-align: center;
    padding: 25px;
    margin: 40px;
    border-radius: 50px;
    box-shadow: 5px 5px 20px black;
}
.contact{
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    background: url(img/contact-back.png) no-repeat left center;
}
.contact-img{
    height: 600px;
    margin-left: 180px;
}
.contact-text{
    align-content: center;
    margin-left: 500px;
}
.contact-text p{
    margin-top: -35px;
}
